
.site-header{
    min-width: 619px;
    margin-top: 3rem;
    img{
        width: 300px;
    }
    @include tablet{
        img{
            width:500px;
        }
    }
    @include desktop{
        .site-branding{
            display: flex;
            justify-content: center;
            img{
                width:700px;
            }
        }
        
    }
}
.site-footer{
    min-width: 619px;
    .site-info{
        margin: 4.5rem 0 3rem 0;
        .footer-navigation{
            ul{ 
                @include ul_element;
                
                li{
                    padding: 0 1rem;
                    white-space: nowrap;   
                    border-right: 1px solid; 
                    &:nth-child(1){
                        padding-left: 0;
                    }
                    &:nth-child(3){
                       border:0;
                    }
                      
                    a{
                        @include green-text;
                    }
                }
            }
        }
        p{  
            font-weight: 300;
            a{
                @include green-text;
                
            }
        }
    }
    @include tablet{
        .site-info{
            display:flex;
            #primary-menu{
                width: 312px;
                
                li{
                    white-space: nowrap;
                    padding: 0 1rem;
                    border-right: 1px solid; 
                    &:nth-child(1){
                        padding-left: 0; 
                    }

                }
            }
            p{
                line-height: 1;
            }
        }
    }
    @include desktop{
        .site-info{
            justify-content: flex-end;
        }
        
    }
}
//home and  single.php
.home,
.single-post{
    @extend %base_typography;
    .entry-content{
        font-size:1.25rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
        p{
            @include tablet{
                font-size: 1.75rem;
            }
        }
        
    }
    .entry-meta{
       
        // align-items: center;
        // margin-bottom: 3rem;
        display: inline;
        .entry-title{
            white-space: nowrap;
            display: inline;
        }
        
    }
    .entry-title{
        @extend .entry-content;
        margin: 0;

    }
    .source{
        font-size: 1.25rem;
            font-style: italic;
            font-weight: 300;
        a{
            @include green-text;
            font-size:1.25rem;
            font-style: italic;
        }
    }
    
    button{
        @include green_button;
    }
    @include desktop{
        .site-content{
            &:before{
                @include left-quote;
             }
            &:after{
                @include right-quote;  
             }
            margin: 4.5rem 175px 1.5rem;
            position: relative;
            .entry-content{
               
                p{
                    font-size: 2.5rem;
                }
                
            }
            
        }
    }
}
.search-no-results,
.error404{
    @extend %base_typography;
    .clearfix{
        border:0;
        padding:0;
        .search-field{
            background: $background_color;
            color: white;
            border: 2px solid $green_color;
            width: 240px;
            padding: 0.25rem 0.5rem;
            font-family: Exo, sans-serif;
            font-weight: 300;
            margin-bottom: 1.5rem;
        }
        .search-submit{
            background: $background_color;
            box-shadow: none;
            border: 0;
            text-shadow: none;
            color: $green_color;
            font-size: 1rem;
            padding:8px 8px 8px 8px;
           
            .fa-search{
                @include green-text
            }
        }
    }
    @include desktop{
        
        .site-content{
            &:before{
                @include left-quote;
             }
            &:after{
                @include right-quote;  
             }
            margin: 4.5rem 175px 1.5rem;
            position: relative;
            .entry-content{
               
                p{
                    font-size: 2.5rem;
                }
                
            }
            
        }
    }
}

.search-results{
    @extend %base_typography;
    .page-title{
        border-bottom: 1px dotted #fff;
        margin-top: 3rem;
        padding-bottom: 1.5rem;
    }
    .type-post{
        .entry-title{
            @extend .entry-content;
            a{
                @include green-text;
            }  
        }
        .entry-summary{
                font-weight: 300;    
        } 
    }
    .number-pagination{
        .page-numbers{
            @include green-text;
            padding: 0 .25rem;
        }
    }
    @include desktop{
        
        .site-content{
            &:before{
                @include left-quote;
             }
            &:after{
                @include right-quote;  
             }
            margin: 4.5rem 175px 1.5rem;
            position: relative;
            .entry-content{
               
                p{
                    font-size: 2.5rem;
                }
                
            }
            
        }
    }
    
}

.archive{
    @extend .search-results;
    .status-publish{
        padding:0 0 3rem 0;
        border-bottom: 1px dotted #fff;
        font-size: 1.25rem;
        font-weight: 300;
            .entry-title{
                display: initial;
                font-weight: 300;
                padding-bottom: 1.25rem;
                display: inline;
                
                
            }
            .source{
                font-size: 1.25rem;
                font-style: italic;
                font-weight: 300;
                a{
                    @include green-text;
                }
            }
    }
    .entry-title{
        font-size: 1.25rem;
    }
    @include tablet{
        .entry-content{
            p{
                font-size: 1.75rem;
            }
            
        }
    }
    @include desktop{
        
        .site-content{
            &:before{
                @include left-quote;
             }
            &:after{
                @include right-quote;  
             }
            margin: 4.5rem 175px 1.5rem;
            position: relative;
            .entry-content{
               
                p{
                    font-size: 2.5rem;
                }
                
            }
            
        }
    }
}


//about page & archives & submit form
.page-template-default{
    @extend %base_typography;
    .entry-title{
        margin-top: 3rem;
    }
    .entry-content{
        font-weight: 300;
        a{
            @include green-text;
        }
    }
   
    
    .clearfix{
        ul,
        .wp-tag-cloud {
            list-style: none;
            margin-left:0;
            padding-left:0;
            display: flex;
           flex-wrap: wrap;
           margin-left: 0;
           padding-left: 0;
           li{
            padding: 0 16px 5px 0;
            .tag-cloud-link,
                a{
                    @include green_text;
                    font-size: 1.25rem !important;
                    
                }
            }
          
          
        }
    }
    p{
       a{
        @include green_text;
       } 
    }

    @include desktop{
        .site-content{
            margin: 4.5rem 175px 1.5rem;
            position: relative;
            
        }
        #content:before{
           @include left-quote;
        }
        #content:after{
           @include right-quote;
            
        }

    }

}

.admin-bar{
    #quote-submission-form{
        div{
            display:flex;
            flex-direction: column;
            margin-bottom: 2rem;
            label{
                margin-bottom: 1rem;
                font-weight: 300;
            }
            input{
                @include green_button;
                color: white;
                font-weight: 300;
                font-family: Exo,sans-serif;
                padding: .25rem .5rem;
                width: 240px;
                    @include desktop{
                        width: 400px;
                    }
            }
            #quote-content{
                @extend input;
                width:100%;
                height:6rem;
                
            }
        }
        .submit-button{
            @include green_button;
        }
 
    }

}

